{% extends 'core/base.html' %}

{% block content %}

<script>
    function handleResetPassword(){

    }

</script>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">password reset</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4" onsubmit="handleResetPassword()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
